<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1 class="subject">Chao mung cac ban den website ban hang truc tuyen</h1>

    <ul>
        <li>
            <a href="{{ url_for('product_list') }}">Tat ca cac san pham</a>
        </li>
        {% for c in categories %}
        <li>
            <a href="/products?category_id={{ c.id }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>