{% extends 'layout/base.html' %}

{% block title %}Trang chu{% endblock %}

{% block content %}
<h1 class="subject">Chao mung cac ban den website ban hang truc tuyen</h1>

<div class="container">
    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-xs-12" style="padding:5px">
            <div class="card" style="padding:5px">
              <img class="card-img-top" src="{{ url_for('static', filename=p.image) }}" width="120" alt="{{ p.name }}">
              <div class="card-body">
                <h4 class="card-title">{{ p.name }}</h4>
                <p class="card-text">{{ "{:,.1f}".format(p.price) }}</p>
                  <a href="#" class="btn btn-primary">Dat hang</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p><i>Khong co san pham nao</i></p>
    {% endif %}
</div>

{% endblock %}
